<h1>Carrito</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
  {{#each products}}
 <tr>
    <td>
      <a href="/products/{{this._id}}" class="text-decoration-none">
      <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" class="img-fluid">
      </a>
      </td>
      <td>
    {{this.product.title}} - {{this.product.price}} - Cantidad: {{this.quantity}}
   
  {{/each}}
      </table>
    </div>
  </div>
</div>

<script src="../public/js/cart.js"></script>
