<header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; height: ;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="/"><img src="../public//images/tuyen.png" alt="logo" style="height: 50px;"></a>
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;"></ul>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/realtimeProducts">Formulario</a>
              </li>
          <li class="nav-item">
                <a class="nav-link active" href="/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profile">Perfil</a>
              </li>
              <li class="nav-item">
                        <a class="nav-link active" href="/usermanagment">Manager de usuarios</a>
                     </li> 
              <li>
                <button id="cartButton">🛒</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>  

		<section class="product container mt-100 row" style="margin-top: 50px;">
	<div class="product__photo">
		<div class="photo-container">
			<div class="photo-main">
				<img style="height: 400px; width: auto; left: 110; top: 5;" src={{product.thumbnail}} alt="IMG_PRODUCTO">
			</div>
		</div>
	</div>
	<div class="product__info">
		<div class="title">
			<h1>{{product.title}}</h1>
			<span>Code: {{product.code}}</span>
		</div>
		<div class="price">
			$ <span>{{product.price}}</span>
		</div>
    <div>
			<span>{{product.description}}</span>
		</div>
		<div class="description">
			<h3>FORMAS DE PAGO:</h3>
			<ul>
				<li>Pago en efectivo</li>
				<li>Transferencia bancaria</li>
				<li>Plataforma PayPal</li>
				<li>Pago contra reembolso</li>
			</ul>
		</div>
        <button class="btn btn-primary btn-large" onclick="addProductToCart('{{product._id}}')">Agregar al carrito</button>
	</div>
</section> 

<script src="../public/js/cart.js"></script>
