<header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; height: ;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="/"><img src="../public//images/tuyen.png" alt="logo" style="height: 50px;"></a>
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;"></ul>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/realtimeProducts">Formulario</a>
              </li>
          <li class="nav-item">
                <a class="nav-link active" href="/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disable" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profile">Perfil</a>
              </li>
              <li class="nav-item">
                        <a class="nav-link active" href="/usermanagment">Manager de usuarios</a>
                     </li> 
              <li>
                <button id="cartButton">🛒</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>

<div class="container">
  <div>
    <div class="container mt-100 row">
      {{#each products.payload}}
        <div class="col-md-4 col-sm-6">
          <div style="min-height: 500px;" class="container card mb-30">
            <div class="card-img-tiles">
              <div class="inner" style="display: flex; justify-content: center;">
                <div class="main-img"><img style="height: 200px; width: auto;" src={{this.thumbnail}} alt="" /></div>
              </div>
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">{{this.title}}</h4>
              <p class="text-muted">{{this.description}}</p>
              <h5 class="text-muted">${{this.price}}</h5>
              <a href="/products/{{this._id}}"><button class="btn btn-primary btn-large" type="button" id="addCart-btn">Comprar ahora</button> </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <nav>
        <ul class="pagination justify-content-center">
          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="{{products.prevLink}}"></a>
            </li>
          {{/if}}
          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{products.prevLink}}"
              >{{products.prevPage}}</a>
            </li>
          {{/if}}
          <li class="page-item">
            <a class="page-link">{{products.page}}</a>
          </li>
          {{#if products.hasNextPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{products.nextLink}}"
              >{{products.nextPage}}</a>
            </li>
          {{/if}}
          {{#if products.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="{{products.nextLink}}">>></a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="../public/js/cart.js"></script>